.quality{
    .row{
        display: flex;
        flex-wrap: wrap;
        &__column{
            width: 33.33%;
        }
    }
    h6{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #292929;
        max-width :600px;
        text-align: center;
    }
    img{
        padding-left: 55px;
    }
    h1{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #292929;
        padding-top: 30px;
    }
    p{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #292929;
        padding-bottom: 30px;
        max-width:  600px;
        padding-left: 300px;
    }
}