.proposal{
    background: hsl(0, 0%, 97%);
    width: 100%;
    
    background: linear-gradient(-45deg,  rgba(152, 224, 194, 0.38), rgba(255, 217, 196, 0.61), rgba(252, 172, 213, 0.61), rgba(152, 224, 194, 0.38));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    .nav{
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: rgba(41, 41, 41, 0.46);
    }
    &__content{
        display: flex;
    }
    &__right{
        max-width: 670px;
    }
    &__title{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 51px;
        text-align: center;
        color: #292929;
        padding-top: 87px;
        width: 670px;
        padding-left: 155px;
    }
    &__description{
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #292929;
        width: 499px;
        padding-left: 240px;
        padding-top: 15px;
    }
    &__btn{
        display: flex;
        
        &_1{
            border: 1px solid #4E9DD3;
            box-sizing: border-box;
            border-radius: 3px;
            width: 230px;
            height: 50px;
            margin-left: 300px;
            margin-top: 34px;
            cursor: pointer;

            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #000000;
        }

        &_2{
            border: 1px solid #4E9DD3;
            box-sizing: border-box;
            border-radius: 3px;
            width: 230px;
            height: 50px;
            margin-left: 10px;
            margin-top: 34px;
            cursor: pointer;

            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #000000;
        }
    }
    &__text{
        padding-left: 155px;
        padding-top: 41px;

        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #292929;
        width: 670px;
    }
    &__left{
        img{
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

.setss {   
    padding-top: 40px;
    background-color: #E5E5E5;
    padding-bottom: 95px;
    button{
        background: #E7426A;
        border-radius: 3px;
        border: none;
        margin-left: 140px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        padding: 5px 15px;
        cursor: pointer;
    }
    &__image{
        width: 370px;
        height: 300px;
    }

    .row{
        display: flex;
        flex-wrap: wrap;

        &__column{
            width: 33%;
        }
    }

    &__item{
        margin-top: 35px;
        width: 370px;
        background: #FFFFFF;
        border: 1px solid #EDEDF0;
        box-sizing: border-box;
        border-radius: 5px;
        
        
        &_name{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            margin-left: 20px;
        }
        &_description{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            max-width: 327px;
            margin-left: 20px;
        }
        &_price{
            display: flex;
            padding-top: 50px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #E7426A;
            margin-left: 20px;
            margin-bottom: 10px;
            border: 1px solid #EDEDF0;
        }
    }
}

.application{
    &__content{
        display: flex;
        h1{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #292929;
            padding-top: 50px;
        }
        p{
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #292929;
            max-width: 570px;
        }
        input{
            background: #FFFFFF;
            border: 1px solid #EDEDF0;
            box-sizing: border-box;
            padding: 24px;
        }
    }
}

.answer{
    &__text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #292929;
    }

    .column{
        display: flex;
        padding: 30px;
    }
    &__box{
        background: #FFFFFF;
        border: 1px solid #EDEDF0;
        box-sizing: border-box;
        border-radius: 5px;
        width: 370px;
        height: 250px;
        margin: 30px;
        
        &_title{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #292929;
            padding-top: 20px;
            padding-left: 20px;
            
        }
        &_description{
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #292929;
            padding-top: 60px;
            padding-left: 20px;
            padding-bottom: 100px;
        }
    }

}